.contenedor-Hoja {

 width: 1170px;
 height: 368px;
 margin: 10px 10px 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: antiquewhite;
 box-shadow: 0 3px 13px 1px rgb(0 0 0);

}

.imagen-Hoja{
    height: 100%;
    width: auto;
}

.contenedor-texto-Hoja {
   
    text-align: center;
    padding: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-Hoja {
    font-size: 1.3rem;

}

.cargo-Hoja {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;  
}

.texto-Hoja {
    font-size: 1.1rem;
    text-align: justify;
}

